.nav {
  @include flex-properties(flex, space-between, center);
  padding: $space-md $space-xl;
  box-shadow: 10px -6px 9px 1px rgb(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 99;
  backdrop-filter: blur(80px);
  ul {
    display: flex;
    @include breakpoints-down(lg) {
      display: none;
    }

    li {
      padding: 0 $space-sm;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $text-base-size;
        position: relative;
        color: $blue;
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          height: 3px;
          border-radius: 5px;
          background-color: $red;
          left: 0;
          width: 100%;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s ease;
        }
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}
