.button {
  border: $grey 1px solid;
  border-radius: 20px;

  color: $blue;
  font-size: $text-sm;
  text-decoration: none;
  transition: all 0.5s ease;
  text-transform: capitalize;

  @include button-size($single-product: false);
  &:hover {
    background: linear-gradient(
      to left,
      lighten($red-light, 10%) 0%,
      $red 100%
    );
    color: $white;
    border: 1px solid transparent;
  }
}

.single-product {
  .button {
    @include button-size($single-product: true);
  }
}
