.category {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background-color: $black;
  box-shadow: -5px 2px 7px 1px rgb(0 0 0 / 22%);
  margin-bottom: $space-lg;

  img {
    height: 200px;
    object-fit: cover;
    opacity: 0.9;
  }

  &__description {
    position: absolute;
    bottom: 0px;
    padding: 0 $space-lg;
    text-align: center;
    left: 0;
    right: 0;
    transition: bottom 0.5s ease;
    h3 {
      color: $white;
      font-weight: $fw-regular;
    }
    a {
      border-radius: 25px;
      padding: $space-sm $space-md;
      color: $white;
      text-decoration: none;
      border: 1px solid $white;
      opacity: 0;
      font-size: $text-sm;
    }
  }
  &:hover {
    img {
      opacity: 0.6;
    }
    .category__description {
      bottom: 30%;
      a {
        opacity: 1;
        display: inline-block;
        margin-top: $space-sm;
      }
    }
  }
}
