.footer {
  padding: $space-lg 0;
  background-color: lighten($grey, 10%);
  .brand {
    font-size: $text-lg;
    margin-bottom: $space-sm;
  }
  h5 {
    font-weight: $fw-regular;
  }
  ul {
    display: flex;
    gap: 20px;
    a {
      color: darken($grey, 20%);
      font-size: $text-sm;
      text-decoration: none;
    }
  }
}
