.hero {
  background-color: lighten($grey, 50%);
  padding-top: 8rem;
  padding-bottom: $space-3xl;
  &__section {
    @include flex-properties();
    h4 {
      font-weight: $fw-regular;
    }
    &__images {
      display: flex;
      width: 760px;
      .img__single {
        width: 100%;
        margin-left: $space-md;
        overflow: hidden;
        transition: all 0.5s ease;
        position: relative;
        &:hover {
          h2 {
            transform: rotate(360deg);
            left: 20px;

            &::after {
              width: 100%;
              margin-left: -10px;
              padding: 0 50px;
            }
          }
        }
        h2 {
          transform: rotate(270deg);
          position: absolute;
          left: -1px;
          bottom: 60px;
          color: $white;
          transition: all 0.2s ease-in;
          font-weight: $fw-regular;
          &::after {
            content: "";
            width: 50px;
            height: 50px;
            background-color: $blue;
            display: block;
            margin-top: -40px;
            margin-left: -14px;
            transition: width 0.2s ease-in;
          }
        }

        &:hover {
          width: 100%;
        }

        &:first-child {
          width: 100%;
        }
        &:not(:hover) {
          width: 150px;
        }

        img {
          width: 100%;
          height: 550px;
          object-fit: cover;
          border-radius: $space-lg;
        }
        &-title {
          position: absolute;
          z-index: 9;
        }
      }
    }
  }
}
