.brand {
  font-size: $text-xxxl;
  background: linear-gradient(to left, lighten($red-light, 15%) 0%, $red 100%);
  font-family: $font-secondary;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: $fw-sb;
}
