.search {
  width: 480px;
  position: relative;
  input {
    border-radius: 15px;
    border: 1px solid $grey;
    padding: $space-md;
    width: 100%;
    height: 40px;
    &:focus {
      outline: none;

      border-radius: 10px 10px 0 0;
    }
  }
  button {
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    svg {
      fill: $grey;
    }
  }

  .search-list {
    background-color: $grey;
    position: absolute;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: none;
    .list {
      padding: $space-sm $space-md;
    }
  }
}
