.sidebar {
  background-color: $white;
  padding: $space-md;
  .categoies-list {
    ul {
      padding: 15px 0;
      a {
        padding: 10px 15px;
        color: $blue;
        text-decoration: none;
        display: block;
        text-transform: capitalize;
        background-color: lighten($grey, 10%);
        margin-bottom: 2px;
      }
    }
  }
}
