:root {
  --swiper-theme-color: #dc3545 !important;
  --swiper-pagination-bullet-inactive-opacity: #dc3545 !important;
  --swiper-pagination-bullet-inactive-color: #dc3545 !important;
  --swiper-scrollbar-drag-bg-color: #202020 !important;
}
